{% load static %}
{% load navbar_tags %}  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Football LMS{% endblock %}</title><link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/profiler.css' %}">



</head>
<body>
    <div id="navbar">
        {% render_navbar user %}
    </div>

    {% if request.path == '/' %}
        <header>
            <div class="container">
                <div class="hero">
                    <h1>Welcome to Football LMS</h1>
                    <p>Manage your football team efficiently and effectively.</p>
                    <a href="{% url 'accounts:register' %}" class="btn">Get Started</a>
                </div>
            </div>
        </header>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'components/footer.html' %}

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>: