{% extends 'base.html' %} <!-- Extends the base template -->

{% load static %} <!-- Load the static template tag library -->

{% block title %}Login{% endblock %}

{% block content %}
<section class="login-section">
    <div class="container">
        <div class="image-container">
            <img src="{% static 'images/login-image.jpg' %}" alt="Login Image" class="login-image">
        </div>
        <h2>Login</h2>
        
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="alternative-options">
            <a href="{% url 'accounts:register' %}" class="btn btn-secondary">Don't have an account? Register</a>
        </div>
    </div>
</section>
{% endblock %}
