<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="{% url 'accounts:home' %}" class="nav-link">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}" class="nav-link nav-link--logout">Logout</a></li>
            <li><a href="{% url 'players:player_list' %}" class="nav-link">Players</a></li>  <!-- Players URL included here -->
        {% else %}
            <li><a href="{% url 'accounts:login' %}" class="nav-link">Login</a></li>
        {% endif %}
    </ul>
</nav>
